.search {
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    height: fit-content;
    width: 75%;
    min-width: 300px;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 10px;
    overflow: hidden;
    background-color: var(--bd);
}

.search > .nf-mdi-magnify {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    opacity: 0.5;
    color: var(--bt);
}

.search .search-bar {
    position: relative;
    display: inline-block;
    height: 40px;
    width: calc(100% - 40px);
    box-sizing: border-box;
    border: none;
    border-radius: 20px 0 0 20px;
    background-color: var(--b);
    color: var(--bt);
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding: 10px;
    padding-left: 40px;
}

.search .search-bar:focus {
    outline: none;
}

.search .search-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 0 20px 20px 0;
    background-color: var(--b);
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.search .search-btn .nf {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--pt);
    font-size: 18px;
}

.search .search-btn:hover {
    background-color: var(--bd);
}

.search .options-area {
    position: relative;
    margin-top: 10px;
    border-radius: 15px;
    background-color: var(--b);
    overflow: hidden;
}

.search .options-area .tabs {
    position: relative;
    display: block;
    width: 100%;
    height: 40px;
    background-color: var(--bd);
}

.search .options-area .tabs .tab-button {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: var(--bd);
    border: none;
    transition: color 0.2s, background-color 0.2s;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
    color: var(--bt);
}

.search .options-area .tabs .tab-button:hover {
    background-color: var(--b);
}
.search .options-area .tabs .tab-button.selected {
    background-color: var(--b);
    color: var(--s);
    width: fit-content;
}
.search .options-area .tabs .tab-button.selected:hover {
    color: var(--sd);
}

.search .options-area .tabs .tab-button .nf {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
    font-size: 20px;
    color: inherit;
}


.search .options-area .tabs .tab-button .title {
    margin-left: 40px;
    margin-right: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}