.form {
    position: relative;
    padding: 5px;
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: fit-content;
}

.field {
    display: block;
    width: 100%;
    height: 40px;
    position: relative;
    margin-left: 0px;
    margin-top: 10px;
    box-sizing: border-box;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
    padding-top: 0px;
    white-space: nowrap;
    overflow: visible;
}
.field.submessage {
    height: 48px;
}

.field .label {
    position: relative;
    width: fit-content;
    height: 100%;
    display: table-cell;
    box-sizing: border-box;
    padding-top: 2px;
    white-space: nowrap;
    color: var(--bt);
    vertical-align: middle;
}

.field .label .nf {
    position: relative;
    margin-top: -2px;
    margin-right: 5px;
    vertical-align: top;
    color: var(--bt);
    font-size: 20px;
}
.field .label .label-name {
    vertical-align: top;
    margin-top: -4px;
}

.field .field-input {
    position: relative;
    width: 100%;
    height: 36px;
    display: table-cell;
    box-sizing: border-box;
    padding-left: 10px;
}

.field .field-input .field-entry {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    background-color: var(--b);
    color: var(--bt);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
    border: 1px solid var(--b);
    border-radius: 18px;
    margin-top: 0px;
    box-sizing: border-box;
    padding-left: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-top: 2px;
    transition: background-color 0.2s, border-color 0.2s;
}
.field.invalid .field-input .field-entry {
    border-color: #ff3333;
}
.field .field-input > .field-entry:focus {
    outline: none;
}
.field .field-input .field-entry:hover {
    background-color: var(--bl);
    border-color: var(--sd);
}
.field .field-input .submessage {
    display: none;
}
.field.submessage.invalid .field-input .submessage {
    color: #ff3333;
}
.field.submessage .field-input .submessage {
    position: absolute;
    bottom: -18px;
    left: 20px;
    font-size: 10px;
    display: inline-block;
    font-family: "Courier New", Courier, monospace;
}

.form-button {
    display: inline-block;
    width: 70%;
    border: none;
    height: 40px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
    background-color: var(--p);
    color: var(--pt);
    margin-left: 15%;
    font-family: "Roboto";
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.2s;
    cursor: pointer;
    position: relative;
}
.form-button:hover {
    background-color: var(--pd);
}

.form-element.hline {
    position: relative;
    display: block;
    width: calc(100% - 20px);
    height: 1px;
    margin: 10px;
    background-color: var(--bd);
    margin-bottom: 5px;
}

/* Range Input */
.field.range .field-input .field-entry {
    opacity: 0;
    z-index: 100;
    cursor: pointer;
    width: calc(100% - 80px);
}

.field.range .range-shroud {
    position: absolute;
    background-color: var(--b);
    top: calc(50% - 2px);
    left: 20px;
    display: inline-block;
    width: calc(100% - 100px);
    height: 24px;
    transform: translate(0, -50%);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
}
.field.range .range-shroud .range-inner {
    position: absolute;
    top: 0px;
    left: 10px;
    display: inline-block;
    width: calc(100% - 24px);
    height: 24px;
}
.field.range .range-shroud .marker {
    position: absolute;
    top: 2px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--p);
    transform: translate(calc(2px - 50%), 0);
    z-index: 50;
    transition: background-color 0.2s;
}
.field.range .field-entry:hover + .range-shroud .marker {
    background-color: var(--pd);
}
.field.range .range-shroud .fill {
    position: absolute;
    top: 2px;
    left: 2px;
    display: inline-block;
    height: 20px;
    border-radius: 10px;
    background-color: var(--pl);
    z-index: 25;
    transform: translate(-10px, 0);
    font-size: 12px;
    padding-top: 4px;
    box-sizing: border-box;
}
.field.range .value-display {
    position: absolute;
    right: 0px;
    top: calc(50% - 2px);
    display: inline-block;
    width: 70px;
    height: 24px;
    transform: translate(0, -50%);
    box-sizing: border-box;
    border: none;
    background-color: var(--b);
    border-radius: 12px;
    text-align: center;
    color: var(--bt);
    font-family: "Courier New", Courier, monospace;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
    border: 1px solid var(--b);
    transition: background-color 0.2s, border-color 0.2s;
}
.field.range .value-display:hover {
    background-color: var(--bl);
    border-color: var(--p);
}
.field.range .value-display:focus {
    outline: none;
}

/* Switch Input */
.field.switch .field-input .field-entry {
    opacity: 0;
    z-index: 100;
    cursor: pointer;
    width: 70px;
    height: 33px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0px;
    box-sizing: border-box;
}
.field.switch .field-input .check-shroud {
    width: 70px;
    height: 33px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0px;
    border-radius: 24px;
    background-color: var(--b);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
    box-sizing: border-box;
    transition: background-color 0.2s;
}
.field.switch .field-input .field-entry:checked + .check-shroud {
    background-color: var(--pl);
}
.field.switch .field-input .check-shroud .handle {
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: var(--bd);
    display: inline-block;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    transition: background-color 0.2s, left 0.2s;
}
.field.switch .field-input .field-entry:checked + .check-shroud .handle {
    left: calc(100% - 31px);
    background-color: var(--p);
}

/* Sections */
.form-section {
    display: block;
    width: calc(100% - 10px);
    height: 40px;
    position: relative;
    margin-left: 0px;
    margin-top: 10px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    background-color: var(--b);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
}

.form-section .title {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 40px;
    font-size: 18px;
    color: var(--bt);
    box-sizing: border-box;
}
.form-section .title .nf {
    position: absolute;
    top: 50%;
    left: 5px;
    color: var(--bt);
    transform: translate(0, -50%);
    font-size: 24px;
}
.form-section .title .expand {
    position: absolute;
    top: 50%;
    right: 5px;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: translate(0, -50%);
    border: none;
    background-color: var(--b);
    cursor: pointer;
    transition: background-color 0.2s;
    transform-origin: center;
}
.form-section .title .expand:hover {
    background-color: var(--bd);
}
.form-section.expanded {
    height: fit-content;
}
.form-section.expanded > .title .expand {
    transform: rotate(180deg) translate(0, 50%);
}
.form-section .title .expand .nf {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--bt);
    transform: translate(-50%, -50%);
    font-size: 16px;
}
.form-section .title .title-text {
    position: absolute;
    top: 50%;
    left: 34px;
    color: var(--bt);
    transform: translate(0, -50%);
}
.form-section .section-items {
    position: relative;
    margin-top: 40px;
    display: inline-block;
    width: calc(100% - 20px);
    height: fit-content;
    padding: 5px;
    box-sizing: border-box;
    background-color: var(--bl);
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
}
